.gridContainer{
display: grid;
grid-template-columns: 100%;
gap: 30px;
margin: 20px;
color: black;
}
.flexContainer{
 display: flex;
 flex-direction: row;
 justify-content: center;
}
@media only screen and (max-width:560px) {
    .gridContainer{
        margin: 0px;
        } 
}
