.childrenContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 95%; */
    margin: 20px;
}

.childrenForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  width: 70%;
}
