.stepper{
    width: 100%;
   display: flex;
}
.stepperContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    align-items: center;
}
.description{
    font-size: 0.7em;
    color:#1976D2;
}
