.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
}
.fieldsetGroups{
    width: 100%;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.personalDetailsForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 100%;
    
}
.gridWrapper{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.errorMessage{
    font-size: 0.7em;
    color: red;
    margin: 0px
}
.gender,.marriage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3px;
    margin: 5px;
}

.row{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
}
label{
    font-size: 1rem;
    color:black
}

.input{
    height: 35px;
    border-radius: 4px;
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color:white;
    color: black;
    
}
.input::placeholder{
    color: rgb(76, 73, 73);
}
.input:focus, .dynamicInput:focus{
    border: 2px solid #1976D2;
}

.fieldsets{
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
}
.buttonsContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}

@media only screen and (max-width:560px) {

    .flex{
        flex-wrap: wrap;
    }
    .gridWrapper{
        grid-template-columns: 100%;
    }
    
    .column{
        width: 100%;
    }

    
    .fieldsets{
        grid-template-columns: 1fr 1fr ;
    }

    .personalDetailsForm{
        
        padding: 0px;
        width: 90%;
        
    }

}
@media only screen and (max-width:300px) {
    .fieldsets{
        grid-template-columns: 1fr  ;
    }
}

