.container{
    width: 100%;
    height: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.btnCont{
    display:flex;
    justify-content: center;
    gap: 15px;
    background-color: transparent;
    
}
.id,.passport{
    padding: 30px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    background-color: rgb(143, 143, 232);
    box-shadow: 0 4px 8px 0 rgb(53, 53, 125), 0 6px 20px 0 rgb(160, 160, 226);
    text-shadow: 2px 1px 2px #000000;
    color: white;
    transition: padding 2s ;
    
}
.id:hover,.passport:hover{
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: 2;
    padding: 35px;
}
@keyframes example {
    from {background-color:  rgb(53, 53, 125);transform: rotate(2deg);}
    to {background-color: rgb(125, 125, 205);transform: rotate(-2deg);}
}

@media  screen and (max-width:400px) {
    .btnCont{
        flex-direction: column;
    }
}
