.homeContainer{
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    color: black;

}

.navigationButton{
    background-color:'#1976D2' ;
    border-radius: 10px;
    border: none;
    text-shadow: 1px 1px 1px black;
    width: 130px;
    height: 40px;
}

.infoCheckbox{
    width: 60%;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info{
    text-align: justify;
}
@media screen and (max-width:700px) {
    .infoCheckbox{
        width: 90%;
        
    }
}
