form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
   
}
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* width: 100%; */
}
.radioCont{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}

.columns{
    display: flex;
    flex-direction: column;
}
.personalDetails{
    display: flex;
    flex-direction: column;
}
.firstPersonalDetails{
    display: flex;
    flex-direction: column;
}
