form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
   
}
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.radioCont{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    
}
