#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.btn{
  position:fixed;
  top: 5px;
  right: 5px;
  background-color: rgb(143, 143, 232);
  border-radius: 10%;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px 0 rgb(53, 53, 125), 0 4px 10px 0 rgb(160, 160, 226);
    text-shadow: 1px 1px 1px #000000;
    color: white;
}

